.links{
    color: white;
}
.links:hover{
    color: rgb(194, 194, 194);
}

.a2{
    color: transparent;
}

.btn-cambio{
    color: black;
    border-color: transparent;
}
.btn-cambio:hover{
    color: white;
    background-color: #dc3545;
}

.titulos{
    font-family: 'Road Rage', cursive;
}

.txt-cuerpo{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.letter-sep{
    letter-spacing: 0.10em;
}
.letter-sep:hover{
    letter-spacing: 0.30em;
}

.nav-box{
    height: 80px;
    position: fixed;
}

.bg-gris{
    background: -prefix-linear-gradient(top, rgb(223, 223, 223), white);
    background: linear-gradient(to bottom, rgb(223, 223, 223), white);
}

.search-box{
    width: 800px;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    border-color: transparent;
    object-position: left;
}

.box-radius{
    border-radius: 10px           !important;
} 

.menu{
    min-width: 3rem       !important;

}

.icon-band{
    padding: 0.1rem 0.5rem     !important;
}